html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.space{
    justify-content: space-around;
}
nav{
    width: 100%;
    padding-top: 1rem;
}
.nav-items{
    width: 30%;
}
.nav-items a{
    text-decoration: none;
    font-size: 2vw;
    color: black;

}
.nav-logo{
    margin: auto 0;
}
.nav-items--cart{
    width: 9rem;
    height: 5rem;
    background-color: #ff7a00;
    border-radius: 50px;
}
.nav-items--cart img{
    width: 3rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.nav-items--cart p{
    font-size: 2.7vw;
    position: relative;
    top: -1.5rem;
}
.store-intro{
    background-color: #ffcd9e;
}
.store-intro button{
    background-color: #ff7a00;
    color: white;
    width: 17rem;
    height: 3rem;
    border-radius: 10px;
    position: relative;
    left: 44%;
    top: -3rem;
    margin-bottom: 3rem;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
}

.store-intro--data{
    justify-content: space-evenly;
}
.store-intro--data img{
    width: 35rem;
    position: relative;
    top: -2rem;
    object-fit: contain;
}
.store-intro--data h1{
    color: #ff7a00;
    font-size: 5vw;
    margin-top: 6rem;
    font-size: 800;
}
.check-out{
    background-color: rgba(0,0,0,0.5);
    height: 140rem;
    width: 100%;
    position: absolute;  
    top: 0rem;  
    padding-top: 2rem;
    display: none;
}
.check-out--details{
    color: black;
    width: 60%;
    position: relative;
    left: 20%;
    background-color: white;
}
.check-out--head{
    margin-left: 2.5rem;
    justify-content: space-between;
    width: 33rem;
}

.decrease{
    background-color:#ff7a00;
    width: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.decrease p, .increase p{
    display: inline;
    margin-left: 0.1rem;
}
.increase{
    background-color:#ff7a00;
    width: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.check-out--quantity-change{
    width: 5rem;
    align-items: center;
}

.check-out--data button{
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff9a3d;
}
.check-out--data, .order-summary--data{
    display: flex;
    justify-content: space-around;
}
#check-out--data1{
    display: none;
}
#check-out--data2{
    display: none;
}
#check-out--data3{
    display: none;
}
#check-out--data4{
    display: none;
}
#check-out--data5{
    display: none;
}
#check-out--data6{
    display: none;
}
.check-out--data--serial-number--width{
    width: 1.2rem;
}
.check-out--data--name--width{
    width:8rem;
}
.check-out--data--price-width{
    width: 5rem;
}
.quantity-of-items-width{
    width: 1.2rem;
    text-align: center;
}


form{
    flex-direction: column;
}
form input{
    width: 27rem;
    height: 2rem;
    margin: 1rem auto;
    background-color: #ffcd9e;
}
.name--error-message, .email--error-message, .phone--error-message{
    position: relative;
    left: 16rem;
    top: -1.5rem;
    margin-bottom: -1rem;
    color: red;
    
}
.name-error{
    border: 2px solid red;
}
.email-error{
    border: 2px solid red;
}
.phone-error{
    border: 2px solid red;
}

.check-out--amount{
    align-items: center;
    position: relative;
    top: -2rem;
}
.check-out--amount h4{
    margin-bottom: -1.8rem;
    font-size: 2.5vw;
    font-weight: 700;
}
.check-out--amount h5{
    font-size: 2vw;
    font-weight: 700;
}
.check-out--shopping-buttons{
    width: 25rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1rem;
    position: relative;
    top: -5rem;
}
.check-out--shopping-buttons button, .order-summary--details button{
    width:10rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.shopping-button{
    background-color: #ffcd9e;
}

.check-out--button{
    background-color: #ff7a00;
    color: white;
}
.check-out--button:disabled {
    background: rgb(235,235,228);
    pointer-events: none;
  }
.customer-name{
    color: #ff7a00;
}
.order-summary{
    background-color: rgba(0,0,0,0.5);
    height: 140rem;
    width: 100%;
    position: absolute;  
    top: 0rem;  
    padding-top: 2rem;    
    display: none;
}
.order-summary--details{
    background-color: white;
    color: black;
    width: 60%;
    position: relative;
    left: 20%;
    top: 0;
    
}
.order-summary--details h4{
    width: 12rem;
    margin: 0 auto;
    font-size: 2rem;
}
.order-summary--details h6{
    width: 43rem;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.2rem;
}


.order-summary--details img{
    width: 15rem;
    margin: 0 auto;
}
.order-summary--details button{
    background-color: #ff7a00;
    color: white;
    position: relative;
    margin: 3rem auto;

}
.order-summary--data p{
    color: black;
}
#order-summary--data1{
    display: none;
}
#order-summary--data2{
    display: none;
}
#order-summary--data3{
    display: none;
}
#order-summary--data4{
    display: none;
}
#order-summary--data5{
    display: none;
}
#order-summary--data6{
    display: none;
}


.store-info{
    background-color: black;
    height: 15rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.store-info p{
    margin-left: 15rem;
    margin-top: 2rem;
    font-size: 2vw;
    width: 60rem;
}
.store-gadgets{
    background-color: white;
    color: black;
}
.store-gadgets h2{
    font-size: 2.5vw;
    width: 20rem;
    margin: 3rem auto;
    font-weight: 700;
}
.store-gadgets img{
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.store-layout1{
    margin-bottom: 4rem;
    margin-left: 3.3rem;
}
.store-layout2{
    margin-bottom: 4rem;
    margin-left: 3.3rem;
}
.store-gadgets h4{
    font-size: 2vw;
    font-weight: 600;
    width: 15rem;
    text-align: center;
}

.store-gadgets button{
    width: 15rem;
    height: 2rem;
    font-size: 1.3vw;
    background-color:#ff7a00;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
#remove-from-cart1, #remove-from-cart2, #remove-from-cart3, #remove-from-cart4, #remove-from-cart5, #remove-from-cart6{
    background-color:#ffcd9e;
    position: relative;
    display: none;
}
#store-items-price1,#store-items-price2,#store-items-price3,#store-items-price4,#store-items-price5,#store-items-price6 {
    position: absolute;
    width: 15rem;
    height: 19.6rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    display: none;
}
.price{
    width: 12rem;
    margin: 4rem auto;
}
.price h2{
    font-weight: 700;
    position: relative;
    width: 13.8rem;
    margin: 3rem auto;
    margin-left: 1rem;
}
.price h4{
    width: 5rem;
    margin: 0 auto;
   text-decoration: underline;
}

footer{
    background-color: black;
    height: 12rem;
    
}
.footer-data{
    position: relative;
    top: 5rem;
    left: -6rem
}
button:hover, #cart-icon:hover{
    filter: drop-shadow(0px 1px 3px red);
    transform: translate(0px,-2px);
}
.nav-items a:hover{
    color: #ff7a00;
}


